.queued_order
  .position
    = order.queue_position
  .beverage
    = order.beverage
  .order_details
    .ordered_by
      = order.ordered_by
    .ordered_at
      = time_ago_in_words order.created_at

