// Fonts
@font-face {
  font-family: 'Cousine';
  src: url(/fonts/Cousine.ttf) format('truetype');
}

@font-face {
  font-family: 'Neris';
  src: url(/fonts/Neris.otf) format('opentype');
}

@font-face {
  font-family: 'SaxMono';
  src: url(/fonts/SaxMono.ttf) format('truetype');
}

