$background_color: #eee;
$border_size: 0.125rem;
$border_color: #222;
$button_normal_color: #fff;
$button_hover_color: #ddd;
$black: #000;
$content_width: 600px;
$corner_radius: 0.25rem;
$error_color: #FF6347;
$font_size_smaller: 0.75rem;
$font_size_small: 0.875rem;
$font_size: 1rem;
$font_size_large: 1.125rem;
$font_size_larger: 1.25rem;
$header_height: 50px;
$hover_color: #ddd;
$icon_size_small: 2rem;
$icon_size: 2.5rem;
$in_progress_color: #FFD700;
$padding: 0.25rem;
$padding_large: 0.75rem;
$success_color: #408800;
$toast_z_index: 1;
$white: #fff;

