@import 'global/fonts.css.scss';
@import 'global/mixins.css.scss';

$button_normal_color: #ddd;
$button_hover_color: #ccc;

* {
  font-family: 'Arial';
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

.button {
  background-color: $button_normal_color;
  border: 2px outset $button_normal_color;
  color: #000;
  cursor: pointer;

  padding: 15px 0;
  @include rounded-corners(5px);
  &:hover {
    background-color: $button_hover_color;
    border: 2px outset $button_hover_color;
  }
}

div.order {
  background-color: #eee;
  margin: 10px 0;
  padding: 5px;
}

table.order td {
  padding: 5px;
}

