@import 'application.css.scss';

$content_width: 600px;

div#content {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
  width: $content_width;
  @include flex;
}

